@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome, Lim Hui Xiang</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body" style="background: linear-gradient(to bottom, #FF9999, #FF6666); color: #333;">
                    <h5 class="card-title">Online Banking</h5>
                    <p class="card-text">Manage your accounts online with ease.</p>
                    <a href="/online-banking" class="btn btn-primary">Sign In</a>
                </div>
            </div>
        </div>
    </div>
</div>
