@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome, Lim Hui Xiang</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <divc class="container-fluid d-flex justify-content-center align-items-center">
            <div>
                <h1>test</h1>
                <button class="button" data-record="false">Test Audio Play</button>
            </div>


    </div>
    <video id="video" width="640" height="480" autoplay></video>





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


    <script src="./js/site.js"></script>
    <script type="module" src="./js/video.js"></script>