
@media (max-width: 992px) {
    #contacts_container {
        width: 70%!important;
    }

    #searchQueryInput {
        width: 77% !important;
    }
}

@media (max-width:620px) {
    video {
        width: 0px !important;
    }

    .video-placeholder {
        width: 0px !important;
        height: 0px !important;
        display: none !important;
    }

    .container-vid {
        width: 100% !important;
        height: 50px !important;
        top: 70px !important;
        left: auto !important;
    }

    .dashboard-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .overlay {
        top: 0 !important;
        bottom: auto !important;
        color: white !important;
        background-color: black !important;
    }


}

@media only screen and (max-width: 600px) {
    #contacts_container {
        width: 95% !important;
    }

    #searchQueryInput {
        width: 100% !important;
    }
}

@media only screen and (max-width: 400px) {
    .icon{
        margin-right:40px!important;
    }
}
