* {
    margin:0;
    padding:0;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
/*    box-sizing: content-box;
*/    /*height:auto;*/
}

/*body {
    box-sizing: content-box;
    height: 100%;
    height: auto;
}

*, ::after, ::before {
    box-sizing: border-box;
}*/

/*body {
  margin-bottom: 60px;
}*/


