@model PFD.Models.Contacts

@{
    ViewData["Title"] = "View";
}

@section style{
    <style >

        .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            color: black;
            background-color: white;
            padding: 5px 20px;
            z-index: 1;
            font-size: 1rem;
            font-weight: 700;
        }

        video {
            /*        position: fixed;
                                    top: 0;
                                    left: 0;*/
            display: inline-block;
            width: 300px;
            z-index: -1;
        }

        .video-placeholder {
            display: inline-block;
            width: 300px;
            height: 225px;
            background-color: #fff;
        }

        .container-vid {
            position: fixed;
            padding-left: 0;
            top: 100px;
            left: 0;
            margin-bottom: 50px; /* Adjust the margin-bottom value as needed to create space between the text and the button */
            z-index: 2;
            width: 300px;
            height: 225px;
        }

        .container-vid2 {
            position: fixed;
            padding-left: 0;
            top: 100px;
            left: 0;
            margin-bottom: 50px; /* Adjust the margin-bottom value as needed to create space between the text and the button */
            z-index: 1;
        }

        .placeholder-text {
            margin: 0;
            line-height: 225px;
            font-size: 1rem;
            font-weight: 700;
            color: #131313;
        }

        .button {
            background-color: black;
            border-radius: 20%;
            z-index: 100000;
            position: fixed;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 10%;
            left: 5%;
            width: 90px;
            height: 90px;
            transition: all 0.2s ease-out;
            color: white;
        }

            .button:hover {
                cursor: pointer;
            }

            .button > i {
                color: inherit;
                font-size: 2.3vw;
            }

            .button.active {
                transform: scale(1.05);
                color: greenyellow;
            }

        .background-image{
            width:10rem;
            height:10rem;
        }
        .background-image .hide{
            display:none;
        }

        .main {
        }
        .error{
            display:none;
        }

        .lottie {
            pointer-events: none;
            display: none;
            position: fixed;
            top:0;
            z-index: 100;
            width: 100%;
            height: 100%;
        }
        #Money{
            font-size:3rem;
            border:none;
        }

        .money-symbol{
            font-size:3rem;
        }
    </style>
}

    <div class="container-vid">
        <video id="video" autoplay data-type="confirmation"></video>

        <p class="overlay"></p>
    </div>

    <div class="container-vid2">
        <div class="video-placeholder d-flex align-content-center justify-content-center">
            <p class="placeholder-text d-flex align-content-center justify-content-center"></p>
        </div>

    </div>


    <div class="button" data-type="money">
        <i class="fa fa-microphone"></i>
    </div>





<lottie-player class="lottie" src="https://assets5.lottiefiles.com/packages/lf20_CBIe0e1jwK.json" background="transparent" speed="1" loop autoplay></lottie-player>

<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="/Images/business-agreement.svg"
                     class="img-fluid" alt="Phone image" asp-append-version = "true">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">
                    Paying to @{
                        if (Model != null)
                        {
                            <span>@Model.Name</span>
                        }
                    }
                </h3>
                <form id="form">
                    <!-- Amount Input  -->
                    
                    <div class="form-outline mb-4">
                        <label class="form-label" for="form1Example13">Amount</label>
                        <div class="input-group">
                            <span class="d-flex align-items-center money-symbol">$</span>
                            <input id="Money" type="tel" class="form-control form-control-lg" value="0.00" />
                        </div>
                    </div>
                    <p class="text-danger error mb-5">Invaid Input!</p>

                    <div class="row mb-4">
                        <div class="col">
                            <label>Click Confirm to move on with payment or signal an open hand for a few seconds to do so</label>
                        </div>
                    </div>
   
                    <!-- Submit button -->
                    <button id="form-sub" type="submit" class="btn btn-danger btn-lg btn-block">Confirm</button>

                </form>

                <form asp-action="passTemp" id="Success" asp-controller = "Main">
                    <input type="hidden" id="tempData" name="tempData" value="true" />
                </form>

            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://unpkg.com/@@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <script type="module" src="~/js/recog.js" asp-append-version="true"></script>
    <script src="~/js/audio.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
    <script>
  
        $("#form-sub").click((e)=>{
            e.preventDefault();
            var parsedValue = parseInt($("#Money").val());
            if (!isNaN(parsedValue) && parsedValue >=0){
                $(".lottie").show();
                $(".error").hide();

                setTimeout(() => {
                    $(".lottie").hide();
                    $("#Success").submit()
                }, 1000)
            }
            else{
                $(".error").show();
                $("#Money").val("0.00")
            }

        })
    </script>
}
    