@model PFD.Models.Contacts

@{
    ViewData["Title"] = "View";
}

@section style{
    <style>

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            color: red;
            z-index: 1;
            font-size: 1.5rem;
        }

        video {
            /*        position: fixed;
                    top: 0;
                    left: 0;*/
            display: inline-block;
            width: 300px;
            z-index: -1;
        }

        .container-vid {
            position: fixed;
            padding-left: 0;
            top: 10%;
            left: 0;
            margin-bottom: 50px; /* Adjust the margin-bottom value as needed to create space between the text and the button */
        }

        .button {
            background-color: black;
            border-radius: 20%;
            z-index: 100000;
            position: fixed;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            bottom: 10%;
            right: 5%;
            width: 90px;
            height: 90px;
            transition: all 0.2s ease-out;
            color: white;
        }

            .button:hover {
                cursor: pointer;
            }

            .button > i {
                color: inherit;
                font-size: 2.3vw;
            }

            .button.active {
                transform: scale(1.05);
                color: greenyellow;
            }

        .background-image{
            width:10rem;
            height:10rem;
        }
        .background-image .hide{
            display:none;
        }

        .main {
        }

    </style>
}

    <div class="text-center">
        <div class="d-flex justify-content-start container-vid container-fluid mb-5">

            <div>
                <video id="video" data-type = "confirmation" autoplay></video>

                <h1 class="overlay">test</h1>
            </div>
        </div>
    </div>


    <div class="button" data-type="money">
        <i class="fa fa-microphone"></i>
    </div>

    <section class="">
        <div class="container py-5 ">
            <div class="row d-flex justify-content-center align-items-center ">
                <div class="col-lg-8 col-xl-6">
                    <div class="card rounded-3">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
                         class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                         alt="Sample photo">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Paying to @{
                                if (Model != null){
                                    <i>@Model.Name</i>
                                }
                            } </h3>

                            <form class="px-md-2">

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="Money">Amount</label>
                                    <input type="text" id="Money" class="form-control" />
                                </div>

                                <button type="submit" class="btn btn-success btn-lg mb-1">Next</button>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div>

    </div>

    <div class="toast" id="confirm" role="alert" aria-live="assertive" aria-atomic="true" data-type = "confirm">
        <div class="toast-header">
            <img src="..." class="rounded mr-2" alt="...">
            <strong class="mr-auto">Bootstrap</strong>
            <small>11 mins ago</small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body">
            Signal an open hand to Confirm Payment
        </div>
    </div>




@section Scripts{
    <script type="module" src="~/js/recog.js" asp-append-version="true"></script>
    <script src="~/js/audio.js" asp-append-version="true"></script>
    <script src="~/js/script.js" asp-append-version="true"></script>
}
    