@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Dashboard";

    string? data = null;
    if (TempData["Success"] != null)
    {
        data = TempData["Success"].ToString();
        Console.WriteLine(data);

    }
}



 @section head{
    <link rel="stylesheet" href="~/css/Dashboard.css" type="text/css">

 }

 @section style{
    <style>
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            color: red;
            z-index: 1;
            font-size: 1.5rem;
        }

        video {
            /*        position: fixed;
                    top: 0;
                    left: 0;*/
            display: inline-block;
            width: 300px;
            z-index: -1;
        }

        .container-vid {
            position: fixed;
            padding-left: 0;
            top: 10%;
            left: 0;
            margin-bottom: 50px; /* Adjust the margin-bottom value as needed to create space between the text and the button */
        }

        #successIndicator {
            position: fixed;
            top: 16%;
            right: 10%;
        }

    </style>
 }

    <section id="top" class="row">
        <div class="col-md-7 card" id="main">
            <div class="row">
                <div class="col-md-6">
                    Main Account
                    <h3>NevBank Savings Account</h3>
                    <p>88 1240 7793 3667 0002 9448 <i class="fa fa-angle-double-right"></i></p>
                    <br>
                    <br>
                    <a href="" class="btn btn-success">Transfer Money</a>
                    <a href="" class="btn btn-light">Transfer Money</a>
                </div>
                <div class="col-md-6">
                    Available funds
                    <h1>68.789,56 $</h1>
                </div>
            </div>

        </div>
        <div class="gap"></div>
        <div class="col-md-4 card " id="define">
            <h3>Define standing orders</h3>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum sed rerum tenetur natus vero aperiam sunt, laborum in quibusdam! Nemo, dolorem atque modi sint adipisci eius eligendi molestiae pariatur rem? <i class="fa fa-angle-double-right"></i></p>
            <br>
            <a href="" class="btn btn-light">Define standing orders</a>
        </div>
    </section>
    <br>
    <section class="row" id="bottomm">
        <div class="col-md-7 card" id="right">
            <h2>Latest Transaction</h2>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="gap"></div>
        <div class="col-md-4 card " id="left">
            <h2>Expenses</h2>
            <canvas id="chart-pie"></canvas>
        </div>
    </section>

    <div class="toast" id="successIndicator" role="alert" aria-live="assertive" aria-atomic="true" data-bs-animation="true">
        <div class="toast-header">
            <i class="fa fa-money rounded me-2"></i>
            <strong class="me-auto">Congrats</strong>
            <small>a few seconds ago</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Payment is Successful
        </div>
    </div>

    <div class="container-vid">
        <video id="video" autoplay></video>

        <p class="overlay"></p>
    </div>

    @section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
        const dataPie = {
            type: "pie",
            data: {
                labels: ["Monday", "Tuesday", "Wednesday", "Thursday"],
                datasets: [{
                    data: [1234, 2234, 3234, 4234],
                    backgroundColor: ["rgba(117,169,255,0.6)", "rgba(148,223,215,0.6)",
                        "rgba(208,129,222,0.6)", "rgba(247,127,167,0.6)"
                    ],
                }, ],
            },
        };

        new mdb.Chart(document.getElementById("chart-pie"), dataPie);
    </script>
 
        <script type="module" src="~/js/recog.js" asp-append-version="true"></script>
        <script src="~/js/audio.js" asp-append-version="true"></script>
        <script>
            var dataValue = @Json.Serialize(data);
            console.log(dataValue);
            if (dataValue == "true") {
                $("#successIndicator").show();
                setTimeout(() => {
                    $("#successIndicator").fadeOut();

                }, 2000)
            }
        </script>
    }
