@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



    <div class="footer" id="footer">
        <div class="row">

            <div class="aboutus col-md-3">
                <h6 class="text-uppercase fw-bold">OCBC</h6>
            <p><a href="#">About us</a></p>
            </div>

            <div class="service col-md-3">
                <h6 class="text-uppercase fw-bold">Services</h6>
                <p><a href="#">More Information</a></p>
                <p><a href="#">Pricing</a></p>
            </div>

            <div class="contact col-md-3">
                <h6 class="text-uppercase fw-bold">Contact Us</h6>
                <p><i class="fa fa-phone me-2"></i>+65 600090000</p>
                <p><i class="fa fa-envelope me-2"></i>123@gmail.com</p>
                <p><i class="fa fa-map-marker me-2"></i>Block 69 street 52</p>
            </div>

            <div class="social-media col-md-3 text-black social-icons">
                <h6 class="text-uppercase fw-bold">Find Us</h6>
                <ul class="list-unstyled d-flex">
                    <li><a href="#" class="text-decoration-none"><i class="fa fa-brands fa-facebook-f"></i></a></li>
                    <li><a href="#" class="text-decoration-none"><i class="fa fa-brands fa-twitter"></i></a></li>
                    <li><a href="#" class="text-decoration-none"><i class="fa fa-brands fa-instagram"></i></a></li>
                    <li><a href="#" class="text-decoration-none"><i class="fa fa-brands fa-github"></i></a></li>
                </ul>
            </div>

        </div>
    </div>


@*<div class="container" style="background-color:white;">
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>about us</h4>
                    <ul>
                        <li><a href="#">We are the longest established Singapore bank, formed in 1932 from the merger of three local banks, the oldest of which was founded in 1912.</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>contact us</h4>
                    <ul>
                        <li><a href="#">huixiang@gmail.com</a></li>
                        <li><a href="#">1800 363 3333</a></li>
                        <li><a href="https://www.google.com/maps/dir//65+Chulia+St,+OCBC+Centre,+049513/data=!4m6!4m5!1m1!4e2!1m2!1m1!1s0x31da19a625a054d9:0xf0c56c3c9875e6d?sa=X&ved=2ahUKEwjsmJilnsKCAxWsxzgGHd-MCxoQ48ADegQICRAA">65 Chulia St, OCBC Centre, Singapore 049513</a></li>

                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="https://www.facebook.com/OCBC.Singapore/" class="fa fa-facebook"></a>
                        <a href="https://twitter.com/OCBCBank?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="fa fa-twitter"></a>
                        <a href="https://www.instagram.com/ocbcbank/?hl=en" class="fa fa-instagram"></a>
                        <a href="https://www.linkedin.com/company/ocbc-bank/?originalSubdomain=sg" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>*@
