<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OCBC Ignite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/css/footer.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&family=Poppins:wght@200;300;400;500;600&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.3/aos.css" integrity="sha512-hoGlO+71fSG6lgS60I4bKvsFVB+bAnrVFDYlwSXoyNLppDcoupwJB7KbWq/63iACKn3gcgK9jMXd+T+YDeVrGQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.3/aos.js" integrity="sha512-g+Et9AnYbWPRrEbyTHTiCJNNdvCKudRpd8a5fmPMuJhNj5gzVjMSw6qGoNU09EJdv0DlSeiSFAwmtcAhT1QvsA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="/css/navbar.css" asp-append-version="true" />

    @await RenderSectionAsync("head", required: false)

    @await RenderSectionAsync("style", required: false)


        
<style>

</style> 
</head>
<body>
    <header>
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PFD</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/services">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="/about">About Us</a>
                        </li>

                        <a href="@Url.Action("Login", "Home")" class="btn btn-primary" style="
                            background: linear-gradient(to bottom, #ff9999, #ff6666);
                            color: #fff;
                            border: none;
                            border-radius: 15px;
                            padding: 10px 20px;
                            text-align: center;
                            text-decoration: none;
                            display: inline-block;
                            font-size: 16px;
                            transition: background 0.3s, transform 0.1s;
                            cursor: pointer;
                            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
                            outline: none;

                            ">
                            Login
                        </a>

                       
                        
                        
                    </ul>
                </div>
            </div>
        </nav>*@
        @{
            var AccountString = Context.Session.GetString("AccountObject");
            if (AccountString == null){
                   @await Html.PartialAsync("_Nav.cshtml")

            }
            else{
                    @await Html.PartialAsync("_UserNavbar.cshtml")

            }
        }
    </header>


    <main role="main" style="padding-top: 70px;">

            @RenderBody()
            <!-- Your main content goes here -->
            
    </main>
    
    @await Html.PartialAsync("_Footer.cshtml")

    

    <script type="text/javascript" asp-append-version="true">
        (function (d, t) {
            var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
            v.onload = function () {
                window.voiceflow.chat.load({
                    verify: { projectID: '65522d375605a20007a63f9c' },
                    url: 'https://general-runtime.voiceflow.com',
                    versionID: '655322448b57010008df7837'
                });
            }
            v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
        })(document, 'script');
    </script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
     <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script asp-append-version="true">
        window.addEventListener("scroll", function () {
            var nav = document.querySelector(".navbar1");
            var shouldAddWhiteClass = window.scrollY > 0;

            nav.classList.toggle("sticky", shouldAddWhiteClass);
            //nav.classList.toggle("navbar-white", shouldAddWhiteClass);
            //nav.classList.toggle("navbar-black-text", shouldAddWhiteClass);

        });

    </script>
</body>
</html>
