
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<nav class="navbar1">
    <div class="navbar-container1">

        <a href="~/Home/Index" id="navbar-logo">
            
        </a>

        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="navbar-menu">
            <li class="navbar-button">

                <a href="selectclass.html" class="navbar-links">
                    @*<div class="alien-img"></div>*@
                    <p>Banking for Individuals</p>
                </a>
            </li>

            <li class="navbar-button">

                <a href="store.html" class="navbar-links">
                    @*<div class="store-img"></div>*@
                    <p>OCBC Group</p>
                </a>
            </li>

            <li class="navbar-button" id="login-btn">
                <a asp-controller="Home" asp-action="Login" class="navbar-links2">
                    
                    <p class="nav-login">Login</p>
                    <div class="signin-img"></div>
                </a>
            </li>

            @*<li class="navbar-button" id="acc-dropdown">

            </li>*@




        </ul>

    </div>
</nav>

