
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #google_translate_element {
            position: relative;
            display: inline-block;
            background-color: #ffffff;
            padding: 10px;
            /*border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
            font-family: Arial, sans-serif;
            font-size: 14px;
        }
/*
        main{
            padding-top:0px!important
        }*/

        iframe{
            display:none!important;
        }

        /* Optional: Style the button inside the translation element */
        .goog-te-combo {
            font-size: 14px;
        }

        .goog-logo-link {
            display: none !important;
        }

        #google_translate_element span {
            display: none !important;
        }

        .goog-te-gadget {
            color: transparent !important;
            font-size: 0px;
        }

         
    </style>

    
</head>

<nav class="navbar1">
    <div class="navbar-container1">

        <a href="~/Home/Index" id="navbar-logo">
            
        </a>

        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="navbar-menu">
            <li class="navbar-button">

                <a asp-controller="Home" asp-action="Login" class="navbar-links">

                    <p>Banking for Individuals</p>
                </a>
            </li>

            <li class="navbar-button">

                <a asp-controller="Home" asp-action="Login" class="navbar-links">

                    <p>OCBC Group</p>
                </a>
            </li>

            <li class="navbar-button">
                <a onclick="togglePopup('popupNavContainer2')" class="navbar-links3" style="border:0px; font-size:15px; background:none;">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </li>

            <li class="navbar-button" id="google_translate_element"></li>

            <li class="navbar-button" id="login-btn">
                <a asp-controller="Home" asp-action="Login" class="navbar-links2">
                    
                    <p class="nav-login">Login</p>
                    <div class="signin-img"></div>
                </a>
            </li>


            

            @*<li class="navbar-button" id="acc-dropdown">

            </li>*@
        </ul>

    </div>
</nav>

<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL }, 'google_translate_element');
    }


</script>

<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>