@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var AccountString = Context.Session.GetString("AccountObject");
    var AccountObject = JsonSerializer.Deserialize<Users>(AccountString);

}


<nav class="navbar1">
    <div class="navbar-container1">

        <a href="~/Main/Index" id="navbar-logo">

        </a>

        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="navbar-menu">
            <li class="navbar-button">

                <a asp-action="PayNow" class="navbar-links">
                    @*<div class="alien-img"></div>*@
                    <p>PayNow</p>
                </a>
            </li>

            <li class="navbar-button">

                <a href="" class="navbar-links">
                    @*<div class="store-img"></div>*@
                    <p>Savings Goals</p>
                </a>
            </li>


            <li class="navbar-button" id="acc-dropdown">

                <a href="" class="navbar-links" style="pointer-events:none;" >
                    <div class="login-img"></div>
                    <p>@AccountObject.Name</p>
                </a>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="LogOut"  class="navbar-links" id="logout-btn" style="padding-top:0">LOG OUT</a>

                    </li>
                </ul>
            </li>

     
           @*<li class="navbar-button" id="acc-dropdown">

            </li>*@




        </ul>

    </div>
</nav>

