@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var AccountString = Context.Session.GetString("AccountObject");
    var AccountObject = JsonSerializer.Deserialize<Users>(AccountString);

}
<style>


    * {
        margin: 0;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }

    body {
        /*        background-color: #000;
    */
    }

    ul {
        margin-bottom: 0;
    }

    /* NAVBAR global */

    p {
        margin-bottom: 0;
        font-weight: 400;
        text-decoration: none;
    }

    .navbar1 {
        /*background-color: rgba(0,0,0,0);*/
        background-color: white;
        font-size: 15px;
        height: 70px;
        z-index: 1000;
        display: flex;
        justify-content: center;
        position: fixed;
        width: 100%;
        transition: ease-in-out 0.3s;
        top: 0;
        left: 0;
    }

    .navbar.sticky {
        background: #131313;
    }

    .navbar-container1 {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
        width: 100%;
        max-width: 1200px;
        z-index: 1;
        transition: ease-in-out 0.3s;
    }

    .navbar-menu {
        list-style: none;
        display: flex;
        align-items: center;
        transition: ease-in-out 0.3s;
    }

        .navbar-menu li {
            padding: 10px;
        }



    .navbar-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a {
        text-decoration: none;
    }

    #navbar-logo {
        display: flex;
        align-items: center;
        background: url("/Images/logo_ocbc.png");
        background-size: contain;
        width: 100px;
        height: 70px;
        background-position: center;
        background-repeat: no-repeat;
        /*image-rendering: pixelated;*/
    }


    .navbar-links, .navbar-links2 {
        /*color: #fff;*/
        color: #474747;
        text-decoration: none;
        letter-spacing: 0.05em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 20px;
        position: relative;
    }

        .navbar-links p, .navbar-links2 p {
            padding: 10px;
        }


        .navbar-links:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 2%;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #474747;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        .navbar-links2:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 2%;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #E30613;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        .navbar-links:hover:after, .navbar-links2:hover:after {
            width: 80%;
            left: 10%;
        }



    .signin-img {
        background: url("/Images/caret2.png");
        width: 20px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        image-rendering: pixelated;
    }

    .store-img {
        background: url("/Images/shoppingbag2.png");
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        image-rendering: pixelated;
    }

    .alien-img {
        background: url("/Images/alien.png");
        background-size: cover;
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        image-rendering: pixelated;
    }



    #acc-dropdown {
        display: inline-block;
        position: relative;
    }

        #acc-dropdown:hover {
            background-color: white;
        }

            #acc-dropdown:hover > ul {
                transform: scaleY(1);
            }

        #acc-dropdown ul {
            width: 100%;
            background-color: white;
            box-shadow: 0 1px 6px 0 rgba(22, 22, 23, 0.2);
            transform: scaleY(0);
            transform-origin: top;
            transition-duration: 0.25s;
            position: absolute;
            left: 0;
            top: 100%;
            list-style-type: none;
            margin-left: 0;
            padding-left: 0;
        }

            #acc-dropdown ul li:hover > ul {
                transform: scaleY(1);
            }

        #acc-dropdown a {
            color: #E30613;
            font-weight: 700;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.15em;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            padding: 15px 20px;
        }

            #acc-dropdown a p {
                color: #000;
                padding: 10px;
            }

    #logout-btn {
        cursor: pointer;
        padding: 15px 10px !important;
        margin: 0;
    }

    .navbar-white {
        background-color: white;
    }

    .navbar-black-text .navbar-links {
        color: #474747;
    }

    .navbar-links:hover {
        color: #474747;
    }

    .nav-login {
        color: #E30613;
        font-weight: 700;
    }

    .login-img {
        background: url("/Images/icon-img.png");
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        image-rendering: pixelated;
    }

</style>

<nav class="navbar1">
    <div class="navbar-container1">

        <a href="~/Main/Index" id="navbar-logo">

        </a>

        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="navbar-menu">
            <li class="navbar-button">

                <a asp-action="PayNow" class="navbar-links">
                    @*<div class="alien-img"></div>*@
                    <p>PayNow</p>
                </a>
            </li>

            <li class="navbar-button">

                <a href="" class="navbar-links">
                    @*<div class="store-img"></div>*@
                    <p>Savings Goals</p>
                </a>
            </li>


            <li class="navbar-button" id="acc-dropdown">

                <a href="" class="navbar-links" style="pointer-events:none;" >
                    <div class="login-img"></div>
                    <p>@AccountObject.Name</p>
                </a>
                <ul>
                    <li>
                        <a asp-controller="Home" asp-action="LogOut"  class="navbar-links" id="logout-btn" style="padding-top:0">LOG OUT</a>

                    </li>
                </ul>
            </li>

     
           @*<li class="navbar-button" id="acc-dropdown">

            </li>*@




        </ul>

    </div>
</nav>

<script>
    // STICKY NAV
    window.addEventListener("scroll", function () {
        var nav = document.querySelector(".navbar1");
        var shouldAddWhiteClass = window.scrollY > 0;

        nav.classList.toggle("sticky", shouldAddWhiteClass);
        //nav.classList.toggle("navbar-white", shouldAddWhiteClass);
        //nav.classList.toggle("navbar-black-text", shouldAddWhiteClass);

    });

</script>